---
layout: "master.njk"
title: "Blog"
subtitle: "My words and ramblings"
permalink: "{% if pagination.pageNumber > 0 %}posts/{{pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyNavigation:
  key: Blog
pagination:
  data: collections.post
  size: 5
  reverse: true
  alias: posts
---
{% import "components.njk" as components %}

{{ components.header(title, subtitle) }}

<div class="wrapper">
  {% for post in pagination.items %}
    <div class="blog__post">
      <a aria-hidden class="blog__post__thumbnail" href="{{post.url}}" style="background-image: url({{ post.data.thumbnail }})"></a>
      <div class="blog__post__content">
        <a class="blog__post__title" href="{{post.url}}">{{ post.data.title }} </a>
        <p class="blog__post__excerpt">
          {{ post.templateContent | striptags(true) | truncate(250) }}
        </p>
        <span class="blog__post__date">{{post.date | dateFormat}}</span>
      </div>
    </div>
    <hr />
  {% endfor %}

  {{ components.paginationNavigation(pagination, page) }}
</div>
