---
layout: "master.njk"
title: "Home"
---
{% import "components.njk" as components %}
{{ components.header(title, "Welcome to my home!") }}

<div class="wrapper">
    <p>Wow this is some stuff!</p>
</div>
